<md-card class="md-whiteframe-2dp">
    <md-card-title-group>
        <img md-card-md-image src="{{ person.photo }}">
        <md-card-title>
            <a [routerLink]="['/person', person.id]">
                <span>{{ person.firstname }} {{ person.lastname }}</span>
            </a>
        </md-card-title>
        <md-card-subtitle>{{ person.entity | na }}</md-card-subtitle>
        <md-card-subtitle class="contact-info">
            <md-icon>email</md-icon>
            <a href="mailto:{{ person.firstname }} {{ person.lastname }}&lt;{{ person.email }}&gt;" title="Send an email to {{ person.firstname }} {{ person.lastname }}" class="truncate">{{ person.email }}</a>
        </md-card-subtitle>
        <md-card-subtitle class="contact-info">
            <md-icon>phone</md-icon>
            <a href="tel:{{ person.phone }}" title="Call {{ person.firstname }}">{{ person.phone }}</a>
        </md-card-subtitle>

  </md-card-title-group>
  <md-card-content>
    <div class="contact-info">
      Manager&nbsp;:&nbsp;
      <a href="#/people/1">{{ person.manager }}</a>
    </div>
    <div class="contact-info">
      Location&nbsp;:&nbsp;<a href="http://www.sfeir.com/contact/">SFEIR</a>
    </div>
    <div class="buttons-info">
      <a md-button title="Locate" href="#/locator/1">
        <md-icon>map</md-icon>
      </a>
      <a md-button title="Edit" href="#/edit/1">
        <md-icon>create</md-icon>
      </a>
      <a md-button title="Delete" (click)="delete(person)">
        <md-icon>delete</md-icon>
      </a>
    </div>
  </md-card-content>
</md-card>
