<md-card class="md-whiteframe-2dp">

  <md-card-title>
    <span *ngIf="isUpdateMode" >Update {{ form.controls.firstname.value }} {{ form.controls.lastname.value }}</span>
    <span *ngIf="!isUpdateMode">Create new person</span>
  </md-card-title>

  <md-card-content>
    <form novalidate [formGroup]="form">

      <p *ngIf="isUpdateMode">
        <span style="width:100%">ID (disabled)</span><br/>
        <span style="width:100%">{{model.id}}</span>
      </p>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p [class.errors]="form.controls.firstname.dirty && form.controls.firstname.invalid">
              <md-input-container>
                <input formControlName="firstname" mdInput placeholder="First name" name="firstname">
              </md-input-container>
              

              <span *ngIf="form.controls.firstname.dirty && form.controls.firstname.errors?.required"><br>First name is required</span>
              <span *ngIf="form.controls.firstname.dirty && form.controls.firstname.errors?.minlength"><br>First name is 2 chars min</span>

            </p>

            <p [class.errors]="form.controls.lastname.dirty && form.controls.lastname.invalid">
              <md-input-container>
                <input formControlName="lastname" mdInput placeholder="Last Name" name="lastname">
              </md-input-container>

              <span *ngIf="form.controls.lastname.dirty && form.controls.lastname.errors?.required"><br>Last name is required</span>
              <span *ngIf="form.controls.lastname.dirty && form.controls.lastname.errors?.minlength"><br>Last name is 2 chars min</span>

            </p>

          </td>
          <td class="align-right">
            <img width="100" src="{{ form.controls.photo.value }}"/>
            <input type="hidden" formControlName="photo" name="photo">
          </td>
        </tr>
      </table>

      <p [class.errors]="form.controls.email.dirty && form.controls.email.invalid">
        <md-input-container>
            <input formControlName="email" mdInput placeholder="Email *" style="width:100%" name="email">
        </md-input-container>        

        <span *ngIf="form.controls.email.dirty && form.controls.email.errors?.required">Email is mandatory</span>
        <span *ngIf="form.controls.email.dirty && form.controls.email.errors?.sfeirEmail"><br>Invalid email (ex: chegham.w@sfeir.com)</span>
      </p>

      <p formGroupName="address">
        <md-input-container>
            <input formControlName="street" mdInput placeholder="Address" style="width:100%" name="street">
        </md-input-container>        
      </p>

      <p formGroupName="address">
        <md-input-container>
            <input formControlName="city" mdInput placeholder="City" name="city">
        </md-input-container>
        <md-input-container>
            <input formControlName="postalCode" mdInput placeholder="Postal Code" name="postalCode">
        </md-input-container>
      </p>

      <p [class.errors]="form.controls.phone.dirty && form.controls.phone.invalid">        
        <md-input-container>
            <input formControlName="phone" mdInput placeholder="Phone * (ex: 0612345678)" style="width:100%" name="phone">
        </md-input-container>

        <span *ngIf="form.controls.phone.dirty && form.controls.phone.errors?.required">Phone number is mandatory</span>
        <span *ngIf="form.controls.phone.dirty && !form.controls.phone.errors?.required && form.controls.phone.errors?.pattern">Phone number must be 10 digits</span>
      </p>

      <p>
        <md-checkbox name="isManager" formControlName="isManager">Manager</md-checkbox>
      </p>

    </form>
  </md-card-content>


  <md-card-actions align="end">
    <button md-button type="button" (click)="cancel()">Cancel</button>
    <button md-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="!form.valid">Save</button>
  </md-card-actions>

</md-card>

