<section *ngFor="let person of people" >
  <sfeir-card [person]="person" (personDelete)="delete($event)"></sfeir-card>
</section>

<section class="dialog-modal" [ngClass]="{ 'active': dialogStatus == 'active' }">
  <sfeir-form (onPersonAdd)="add($event)" (onCancel)="hideDialog()"></sfeir-form>
</section>

<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" md-fab color="accent" class="button-add">
    <i class="material-icons">add</i>
  </button>

  <button (click)="switchView()" md-fab color="warn">
    <i class="material-icons" *ngIf="view === 'card'" >list</i>
    <i class="material-icons" *ngIf="view === 'list'" >view_stream</i>
  </button>
</section>
