<section>
    <sfeir-card *ngFor="let person of people" [person]="person" (personDelete)="delete($event)"></sfeir-card>
</section>


<section class="dialog-modal" [ngClass]="{ 'active': dialogStatus == 'active' }">
  <sfeir-form (submit)="add($event)" (cancel)="hideDialog()"></sfeir-form>
</section>

<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" md-fab color="accent" class="button-add">
    <i class="material-icons">add</i>
  </button>

  <button md-fab color="warn">
    <i class="material-icons">list</i>
    <!-- <i class="material-icons">view_stream</i> -->
  </button>
</section>
